<a href="https://colab.research.google.com/github/Hyun-Jun-Lee/News_Analysis/blob/main/text_analysist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
data = pd.read_csv('/content/drive/MyDrive/1-8월 뉴스.csv')
data

                                              title  ...        date
0                         무너지는 일과 삶의 경계···노동이 녹아내린다  ...  2020-01-01
1              일자리 아닌 일거리···'일정치 않음'을 살다 [녹아내리는 노동]  ...  2020-01-01
2        이곳은…기계의 정확도 높이는 ‘인간부품’ 육성공장 아닐까 [녹아내리는 노동]  ...  2020-01-01
3                            지혜씨, 지훈씨를 부탁해! [인포그래픽]  ...  2020-01-01
4              [20대 리포트] “20대, 함부로 판단말라… 내 길 내가 간다”  ...  2020-01-01
...                                             ...  ...         ...
29036           "2.5단계로 무급휴가 요구"… 코로나 재유행에 살아난 '갑질'  ...  2020-08-31
29037  모호한 조치ㆍ 깜깜이 환자 비율 40%육박... 거리두기 2.5단계 효과 있을까  ...  2020-08-31
29038          내일부터 서울 시내버스 밤 9시 이후 20% 감축… 주말 수준으로  ...  2020-08-31
29039    집단휴업 두고 전공의 vs 정부 '강대강 대치'... 의료공백 장기화 불가피  ...  2020-08-31
29040            "제자 한명이라도 피해 입으면 집단휴진" 의대 교수까지 화났다  ...  2020-08-31

[29041 rows x 5 columns]

In [37]:
data.isna().sum()

title    0
text     0
url      0
media    0
date     0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29041 entries, 0 to 29040
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   29041 non-null  object
 1   text    29041 non-null  object
 2   url     29041 non-null  object
 3   media   29041 non-null  object
 4   date    29041 non-null  object
dtypes: object(5)
memory usage: 1.1+ MB

In [36]:
data['media'].value_counts()

경향신문    3715
세계일보    3636
조선일보    3435
동아일보    3316
한국일보    3073
문화일보    2891
서울신문    2817
국민일보    2320
한겨레     2276
중앙일보    1562
Name: media, dtype: int64