<a href="https://colab.research.google.com/github/Hyun-Jun-Lee/News_Analysis/blob/main/text_analysist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from collections import Counter
from tqdm import tqdm
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from konlpy.tag import Okt

In [ ]:
!pip install konlpy

In [41]:
stopwords = pd.read_csv('/content/drive/MyDrive/stopword.csv')
stopwords.sample(10)

    stopdword
545    알 수 있다
152      해야한다
90        으로써
240      일지라도
658         팔
96       할줄알다
333   다른 방면으로
250       그위에
543      그러므로
53         비록

In [3]:
data = pd.read_csv('/content/drive/MyDrive/1-8월 뉴스.csv')
data

                                              title  ...        date
0                         무너지는 일과 삶의 경계···노동이 녹아내린다  ...  2020-01-01
1              일자리 아닌 일거리···'일정치 않음'을 살다 [녹아내리는 노동]  ...  2020-01-01
2        이곳은…기계의 정확도 높이는 ‘인간부품’ 육성공장 아닐까 [녹아내리는 노동]  ...  2020-01-01
3                            지혜씨, 지훈씨를 부탁해! [인포그래픽]  ...  2020-01-01
4              [20대 리포트] “20대, 함부로 판단말라… 내 길 내가 간다”  ...  2020-01-01
...                                             ...  ...         ...
29036           "2.5단계로 무급휴가 요구"… 코로나 재유행에 살아난 '갑질'  ...  2020-08-31
29037  모호한 조치ㆍ 깜깜이 환자 비율 40%육박... 거리두기 2.5단계 효과 있을까  ...  2020-08-31
29038          내일부터 서울 시내버스 밤 9시 이후 20% 감축… 주말 수준으로  ...  2020-08-31
29039    집단휴업 두고 전공의 vs 정부 '강대강 대치'... 의료공백 장기화 불가피  ...  2020-08-31
29040            "제자 한명이라도 피해 입으면 집단휴진" 의대 교수까지 화났다  ...  2020-08-31

[29041 rows x 5 columns]

In [37]:
data.isna().sum()

title    0
text     0
url      0
media    0
date     0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29041 entries, 0 to 29040
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   29041 non-null  object
 1   text    29041 non-null  object
 2   url     29041 non-null  object
 3   media   29041 non-null  object
 4   date    29041 non-null  object
dtypes: object(5)
memory usage: 1.1+ MB

In [36]:
data['media'].value_counts()

경향신문    3715
세계일보    3636
조선일보    3435
동아일보    3316
한국일보    3073
문화일보    2891
서울신문    2817
국민일보    2320
한겨레     2276
중앙일보    1562
Name: media, dtype: int64

In [38]:
# 기사 제목과 내용만 분리
df = data[['title','text']]
df

                                              title                                               text
0                         무너지는 일과 삶의 경계···노동이 녹아내린다  이 땅에서 ‘비정규직’이라는 표현이 광범위하게 쓰인 지 20여년. 정부가 신규 일자...
1              일자리 아닌 일거리···'일정치 않음'을 살다 [녹아내리는 노동]  ㆍ①일자리보다 일거리\n\n노동의 미래를 모두 알 수는 없다. 다만 현실에서 일어나...
2        이곳은…기계의 정확도 높이는 ‘인간부품’ 육성공장 아닐까 [녹아내리는 노동]  ㆍ①일자리보다 일거리\n\nㆍAI 학습데이터 가공 기업 ‘크라우드웍스’ 교육장 참관...
3                            지혜씨, 지훈씨를 부탁해! [인포그래픽]  새로 태어나는 아이들은 줄어들고 어르신들은 계속 나이를 먹어 갑니다. 2020년 새...
4              [20대 리포트] “20대, 함부로 판단말라… 내 길 내가 간다”  새천년의 시작과 함께 세상에 나온 2000년대생들이 어느덧 사회 변화를 이끌 20대...
...                                             ...                                                ...
29036           "2.5단계로 무급휴가 요구"… 코로나 재유행에 살아난 '갑질'  직장인 A씨는  수도권 사회적 거리두기 2.5단계를 시행하는 30일부터 다음달 6일...
29037  모호한 조치ㆍ 깜깜이 환자 비율 40%육박... 거리두기 2.5단계 효과 있을까  30일 0시부터 서울 전역에 강화된 사회적 거리두기(2.5단계)가 시행됐지만, 전문...
29038          내일부터 서울 시내버스 밤 9시 이후 20% 감축… 주말 수준으로  수도권의 ‘사회적 거리두기’ 2.5단계 시행 기간에 맞춰 서울 시내버스의 야간 운행...
29039    집단휴업 두고 전공의 vs 정부 '강대강 대치'... 의료공백 장기화 불가피  21일부터 10일째 무기한 집단휴진을 이어가고 있는 전공의(인턴ㆍ레지던트)들과 정부...
29040            "제자 한명이라도 피해 입으면 집단휴진" 의대 교수까지 화났다  전공의들의 집단휴업을 둘러싼 의ㆍ정 갈등이 고조되는 가운데 의료현장을 책임지는 의대...

[29041 rows x 2 columns]

In [39]:
# 한글,공백 제외하고 제거
df['title'] = df['title'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
df['text'] = df['text'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
df.sample(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                    title                                               text
15629  리쇼어링 유인책 늘려도 업계 수도권 입지 규제 등 실효성 적어  대통령 리쇼어링 활성화 산업계는 부정적 시각해외공장 유턴 법인세임대료 혜택 수도권엔...
21786              수도권  부지 곳에 청년신혼부부 공공주택  군 관사와 함께 개발   정부가 위례와 서울 남태령 동작구 수방사 군 부지를 청년신...
8924      미래한국당 비례수정안 수용불가 한선교 추가 조정 쉽지않아  민주는 비례정당 창당 싸고 정개련 등 시민단체와 충돌황교안 미래통합당 대표가 일 비...
9710            한밤 다급히  찾은 트럼프 의료장비 지원해달라  도널드 트럼프 미국 대통령이 일 밤 문재인 대통령과의 전화 통화에서 한국에 신종 코...
27344      전광훈 목사 코로나 확진 판정 방역 당국 자가격리 위반  지난 일 서울 광화문 집회에 참석한 사랑제일교회 전광훈 담임목사를 재수감해야 한다는...
17404       어린이 코로나합병증 의심 환자 명 올 초 필리핀 체류  서울신문방역당국 다음주 초 관련성 여부 등 발표 의료계 코로나와 연관성 불명확 신중...
8361                         안전자산 채권마저 폭락   현물 당 가격  하락 일부 회사채 금리  넘나들어환율 또 원 넘게 올라 원 주식채...
9258                  비례당 공천위원 명 보니 역시 조국  총선 조국 지지 교수 성명 낸 김호범작가 성명 참여한 소설가 정도상민주당 공천 실무...
4007                      년 월 일 김용민의 그림마당                                 경향신문 무단전재 및 재배포 금지
27587     년 전 품격 강조했던 미셸 이번엔 이 악물고 트럼프 비판  년 월과 같은 관중의 열렬한 환호와 박수는 없었다 목소리 톤은 더 낮아졌고 어조는 ...

In [46]:
okt = Okt()

## title 명사 추출

In [78]:
title_nouns = []
for sentence in tqdm(df['title']):
    tokenized_sentence = okt.nouns(sentence) # 명사만 추출
    stopwords_removed_sentence = [word for word in tokenized_sentence if not word in stopwords] # 불용어 제거
    title_nouns.append(stopwords_removed_sentence)

100%|██████████| 29041/29041 [06:32<00:00, 73.96it/s]

In [92]:
# 한글자 (년,명,월 등)은 제외
title_nouns_list = []
for li in title_nouns:
    for n in li:
        if len(n)>1:
            title_nouns_list.append(n)

In [95]:
# 명사 빈도
count = Counter(title_nouns_list)
title_nouns_cnt = count.most_common(20)
for i in title_nouns_cnt:
    print(i)

('코로나', 2912)
('정부', 1194)
('대통령', 1081)
('감염', 998)
('통합', 989)
('한국', 976)
('확산', 935)
('비상', 912)
('단독', 752)
('확진', 697)
('총선', 690)
('민주당', 652)
('국민', 610)
('수사', 558)
('진자', 538)
('경제', 531)
('트럼프', 517)
('방역', 514)
('우한', 491)
('환자', 486)

In [72]:
title_nouns.values

array([list(['일과', '삶', '경계', '노동']),
       list(['일자리', '일거리', '정치', '음', '노동']),
       list(['곳', '기계', '정확도', '인간', '부품', '육성', '공장', '노동']), ...,
       list(['내일', '서울', '시내버스', '밤', '시', '이후', '감축', '주말', '수준']),
       list(['집단', '휴업', '전공', '정부', '강', '대강', '대치', '의료', '공백', '장기', '불가피']),
       list(['제자', '명', '피해', '집단', '진', '의대', '교수'])], dtype=object)

In [75]:
a = []
for li in title_nouns[:5]:
    for n in li:
        a.append(n)

In [77]:
count = Counter(a)
title_nouns_list = count.most_common(10)
for i in title_nouns_list:
    print(i)

('노동', 3)
('내', 2)
('일과', 1)
('삶', 1)
('경계', 1)
('일자리', 1)
('일거리', 1)
('정치', 1)
('음', 1)
('곳', 1)